// Form global styles
.dog-form {
    margin-top: 50px;
    // padding: 0 5%;
}

label {
    font-weight: $semi-bold;
    font-size: 1.3rem;
}
// Location Inputs
// Flex styles

.location-flex {
    width: 100%;
    margin: 0;
    // display: flex;
    justify-content: space-between;
}

[type="text"] {
    background: $background;
    border: 2px solid transparent;
    border-bottom: 2px solid $accent-color;
    width: 49%;
    font-family: $primary-font;
    font-size: 1.5rem;
    color: $primary-text;
    padding-left: 20px;
    &:focus, :active {
        border: 2px solid $accent-color;
    }
}

// Breed inputs
.breed-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

[class="breed-label"] {
    width: 50%;
    display: block;
    font-family: $primary-font;
    padding: 10px 10px 10px 0;
}

select {
    width: 70%; 
    padding: 10px;
  	font-size: 1rem;
  	font-family: $primary-font;
  	font-weight: $regular;
  	// letter-spacing: 1px;
  	border: 2px solid $accent-color;
  	background-color: $background;
  	// -webkit-appearance: none;
  	// -moz-appearance: none;
  	// appearance: none;
  	margin: 0 auto;
}

#breed {
    width: 50%;
}

// Age, Size, Gender styles
.triple-option-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.age-container, .size-container, .gender-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.option-selectors {
    margin-top: 20px;
    input {
        opacity: 0;
        position: absolute;
    }
    label {
        font-size: 1.0rem;
        font-weight: normal;
        margin-right: 40px;
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: transparent;
            border: 4px solid $accent-color;
            border-radius: 50%;
            position: absolute;
            left: -10px;
            top: 0;

        }
    }       

    input[type='checkbox']:hover + label::before {
        background: lighten($accent-color, 20%);
    }
    input[type='checkbox']:checked + label::before, input[type='checkbox']:active + label::before {
        background: $accent-color;
    }
    
    input[type='checkbox']:focus + label::before {
        border-color: lighten($accent-color, 20%);
    }
    p {
        font-size: 1.3rem;
        padding: 10px 10px 10px 0;
        font-weight: $semi-bold;
    }
}

.options-container {
    padding-left: 10px;
}