// Form global styles
.dog-form {
    margin-top: 50px;
}

label {
    font-weight: $semi-bold;
    font-size: 1.3rem;

    @include mobile {
        font-size: 0.9rem;
        font-weight: $regular;
    }
}

select {
    width: 70%; 
    padding: 10px;
  	font-size: 1rem;
  	font-family: $primary-font;
  	font-weight: $regular;
    border: 2px solid $accent-color;
      
    // Custom Select arrow, adapted from https://codepen.io/herrfischer/pen/aNpWwy
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/select-arrow.png") no-repeat;
    background-size: 1rem;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    
    margin: 0 auto;
    background-color: $background;
}

// Location Inputs
.location {
    width: 100%;
    margin: 0;

    #province-state {
        @include tablet {
            margin-top: 20px;
        }
    }
}

[type="text"] {
    background: $background;
    border: 2px solid transparent;
    border-bottom: 2px solid $accent-color;
    width: 49%;
    font-family: $primary-font;
    font-size: 1.5rem;
    color: $primary-text;
    padding-left: 20px;
    
    &:focus, :active {
        border: 2px solid $accent-color;
    }

    @include tablet {
        width: 100%;
    }

    @include final {
        font-size: 1.1rem;
    }
}

// Breed inputs
.breed-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    
    @include tablet {
        flex-direction: column;
    }
}

[class="breed-label"] {
    width: 65%;
    display: block;
    font-family: $primary-font;
    padding: 10px 10px 10px 0;
    
    @include tablet {
        width: 100%;
        padding: 10px 0;
    }
}

#breed {
    width: 35%;
    
    @include tablet {
        width: 100%;
    }
}

// Age, Size, Gender styles
// Flex styles
.triple-option-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    @include tablet {
        flex-direction: column;
        margin-top: 0;
    }
}


// Further flex and responsive styles
.age-container, .size-container, .gender-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    flex-wrap: wrap;
    
    @include tablet {
        flex-direction: row;
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }

    @include mobile {
        flex-direction: column;
    }

    label {
        @include tablet {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }

    select {
        @include desktop {
            font-size: 0.8rem;
        }

        @include tablet {
            width: 50%;
        }

        @include mobile {
            width: 100%;
            margin-top: 10px;
            font-size: 1rem;
        }
    }
}

// Margin and custom checkbox
.option-selectors {
    margin-top: 20px;
    input {
        opacity: 0;
        position: absolute;
    }
    label {
        font-size: 1.0rem;
        font-weight: normal;
        margin-right: 40px;
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: transparent;
            border: 4px solid $accent-color;
            border-radius: 50%;
            position: absolute;
            left: -10px;
            top: 0;
        }

        @include tablet {
            margin-right: 30px;
        }

        @include mobile {
            margin-top: 10px;
        }
    }       

    input[type='checkbox']:hover + label::before {
        background: lighten($accent-color, 20%);
    }
    input[type='checkbox']:checked + label::before, input[type='checkbox']:active + label::before {
        background: $accent-color;
    }
    
    input[type='checkbox']:focus + label::before {
        border-color: lighten($accent-color, 20%);
    }
    p {
        font-size: 1.3rem;
        padding: 10px 10px 10px 0;
        font-weight: $semi-bold;

        @include mobile {
            padding: 0;
            margin-top: 20px;
            font-size: 1rem;
            font-weight: $regular;
        }

        @include final {
            font-size: 0.9rem;
        }
    }
}

// Padding and flex styles
.options-container {
    padding-left: 10px;

    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

// Sweet Alerts styles
.swal-text {
    font-family: $primary-font;
    font-size: 1rem;
}

.swal-modal {
    background: $background;
    border: 4px solid $accent-color;
}

.swal-button {
    background: $accent-color;

    &:not([disabled]):hover {
        background: lighten($accent-color, 20%);
    }

    &:active {
        background: $accent-color;
    }

    &:focus {
        background: $accent-color;
    }
}