/* Default styles */
img {
    width: 100%;
    height: 100%;
    display: block;
    max-height: 400px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* Wrapper styles */
.wrapper {
	max-width: 1600px;
	width: 80%;
	margin: 0 auto;
}

/* Font and Background Styles */
html {
    font-size: 125%;
}

body {
    font-family: $primary-font;
    color: $primary-text;
    background: $background;
    line-height: 1.6;
}

// Font Styles
h1 {
    font-family: $accent-font;
    font-size: 7rem;
    line-height: 1;

    @include mobile {
        font-size: 5rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: $bold;

    @include mobile {
        font-size: 1.1rem;
        font-weight: $semi-bold;
        margin-top: 20px;
    }
}

h3 {
    font-size: 1.3rem;
    font-weight: $extra-bold;
    font-family: $accent-font;
    text-align: center;

    // Keep the dog's name to one line
    max-height: 42px;
    overflow: hidden;
}

// Additional class styles

// Buttons
.button {
    font-family: $accent-font;
    font-size: 2rem;
    padding: 20px;
    background: transparent;
    border: 4px solid $accent-color;
    border-radius: 10px;
    box-shadow: 2px 8px 20px $accent-color;
    transition: border 500ms, box-shadow 500ms, border-radius 200ms;
    display: block;
    margin: 30px auto;
   
    &:hover, &:active, &:focus {
        border: 4px solid $accent-color;
        box-shadow: 0px 4px 20px 10px $accent-color;
    }

    &:active, &:focus {
        border-radius: 40px;
    }

    @include final {
        font-size: 1.5rem;
        padding: 10px;
    }
}