// Set up the grid container
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    min-width: 0;
    min-height: 0;
    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
        grid-template-columns: 1fr;
    }
}

// Grid item flex, padding, border and responsive styles
.grid-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 5px solid $accent-color;
    border-radius: 5px;

    .button {
        font-size: 1rem;
        color: $accent-color;
        
        @include final {
            font-size: 0.8rem;
        }
    }
}

// Image styles -- to give all images a uniform size
.image-container {
    height: 400px;
    width: auto;
    img {
        object-fit: cover;
    }
}

// Content flex, align and margin styles
.content-flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 0;
}