// Font
$primary-font: 'Open Sans', sans-serif;
$accent-font: 'Love Ya Like A Sister', cursive;

// Colors
$background: rgb(255,250,240);
$primary-text: rgb(54, 53, 55);
$accent-color: rgb(106,90,205);

// Font Weights
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// MEDIA QUERIES
// Global queries
$final-width: 375px;
$mobile-width: 600px;
$tablet-width: 900px;
$desktop-width: 1200px;

// Paw breakpoints
$paw-breakpoint7: 640px;
$paw-breakpoint6: 930px;
$paw-breakpoint5: 1075px;
$paw-breakpoint4: 1175px;
$paw-breakpoint3: 1265px;
$paw-breakpoint2: 1375px;
$paw-breakpoint1: 1550px;

// Global queries
@mixin final {
    @media (max-width: #{$final-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

// Paw breakpoints
@mixin paw-adjust7 {
    @media (max-width: #{$paw-breakpoint7}) {
        @content;
    }
}

@mixin paw-adjust6 {
    @media (max-width: #{$paw-breakpoint6}) {
        @content;
    }
}

@mixin paw-adjust5 {
    @media (max-width: #{$paw-breakpoint5}) {
        @content;
    }
}

@mixin paw-adjust4 {
    @media (max-width: #{$paw-breakpoint4}) {
        @content;
    }
}

@mixin paw-adjust3 {
    @media (max-width: #{$paw-breakpoint3}) {
        @content;
    }
}

@mixin paw-adjust2 {
    @media (max-width: #{$paw-breakpoint2}) {
        @content;
    }
}

@mixin paw-adjust1 {
    @media (max-width: #{$paw-breakpoint1}) {
        @content;
    }
}