// Font Style
$primary-font: 'Open Sans', sans-serif;
$accent-font: 'Love Ya Like A Sister', cursive;

// Colors
$background: rgb(255,250,240);
$primary-text: rgb(54, 53, 55);
$accent-color: rgb(106,90,205);

// Font Weights
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;