article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* Default styles */
img {
  width: 100%;
  display: block;
  max-height: 400px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

/* Wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto; }

/* Font and Background Styles */
html {
  font-size: 125%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #363537;
  background: floralwhite;
  line-height: 1.6; }

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 7rem;
  line-height: 1; }

h2 {
  font-size: 1.5rem;
  font-weight: 700; }

h3 {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Love Ya Like A Sister", cursive;
  max-height: 42px;
  overflow: hidden;
  text-align: center; }

.button {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 2rem;
  padding: 20px;
  background: transparent;
  border: 4px solid slateblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 8px 20px slateblue;
  box-shadow: 2px 8px 20px slateblue;
  -webkit-transition: border 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  transition: border 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  -o-transition: border 500ms, box-shadow 500ms, border-radius 200ms;
  transition: border 500ms, box-shadow 500ms, border-radius 200ms;
  transition: border 500ms, box-shadow 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  display: block;
  margin: 30px auto; }
  .button:hover, .button:active, .button:focus {
    border: 4px solid slateblue;
    -webkit-box-shadow: 0px 4px 20px 10px slateblue;
    box-shadow: 0px 4px 20px 10px slateblue; }
  .button:active, .button:focus {
    border-radius: 40px; }

header {
  padding-top: 40px; }

.accent-text {
  font-family: "Love Ya Like A Sister", cursive;
  border-bottom: 3px solid slateblue; }

.dog-form {
  margin-top: 50px; }

label {
  font-weight: 600;
  font-size: 1.3rem; }

.location {
  width: 100%;
  margin: 0; }

[type="text"] {
  background: floralwhite;
  border: 2px solid transparent;
  border-bottom: 2px solid slateblue;
  width: 49%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #363537;
  padding-left: 20px; }
  [type="text"]:focus, [type="text"] :active {
    border: 2px solid slateblue; }

.breed-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

[class="breed-label"] {
  width: 50%;
  display: block;
  font-family: "Open Sans", sans-serif;
  padding: 10px 10px 10px 0; }

select {
  width: 70%;
  padding: 10px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: 2px solid slateblue;
  background-color: floralwhite;
  margin: 0 auto; }

#breed {
  width: 50%; }

.triple-option-container {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.age-container, .size-container, .gender-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%;
  text-align: center; }

.option-selectors {
  margin-top: 20px; }
  .option-selectors input {
    opacity: 0;
    position: absolute; }
  .option-selectors label {
    font-size: 1.0rem;
    font-weight: normal;
    margin-right: 40px;
    position: relative;
    padding-left: 30px; }
    .option-selectors label::before {
      content: "";
      width: 20px;
      height: 20px;
      background: transparent;
      border: 4px solid slateblue;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0; }
  .option-selectors input[type='checkbox']:hover + label::before {
    background: #b1a8e5; }
  .option-selectors input[type='checkbox']:checked + label::before, .option-selectors input[type='checkbox']:active + label::before {
    background: slateblue; }
  .option-selectors input[type='checkbox']:focus + label::before {
    border-color: #b1a8e5; }
  .option-selectors p {
    font-size: 1.3rem;
    padding: 10px 10px 10px 0;
    font-weight: 600; }

.options-container {
  padding-left: 10px; }

footer {
  text-align: center;
  margin: 20px 0; }
  @media (max-width: 600px) {
    footer p {
      font-size: 0.8rem; } }
  @media (max-width: 375px) {
    footer p {
      font-size: 0.69rem; } }

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  min-width: 0;
  min-height: 0; }
  @media (max-width: 1200px) {
    .grid-container {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 900px) {
    .grid-container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  border: 5px solid slateblue;
  border-radius: 5px; }
  .grid-item .button {
    font-size: 1rem;
    color: slateblue; }
    @media (max-width: 375px) {
      .grid-item .button {
        font-size: 0.8rem; } }

.image-container {
  height: 400px;
  width: auto; }
  .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.content-flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 20px 0; }
